.container {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-areas:
   "a . b b"
   "c d e f"
   "g g g f";
   min-height: 100vh;
}

.menu1, .menu2, .card1, .card2, .card3, .main, .aside{
  border: solid 1px #000;

}

.menu1{grid-area: a;}

.menu2{
  grid-area: b;
}

.card1{
  grid-area: c;
}

.card2{
  grid-area: d;
}

.card3{grid-area: e;}

.main{grid-area: g;
}

.aside{grid-area: f;}
@media (max-width: 1024px) {
   /* tablet layout here */
}
